form {
    margin: 0px auto;
    width: 500px;
    padding: 50px;
    border: 1px solid;
    border-radius: 8px;
}
label {
    display: inline-block;
    width: 80px;
    text-align: right;
}
.form input {
    font: 1em sans-serif;
    width: 170px;
    box-sizing: border-box;
    border: 1px solid #999;
}
button {
    margin-left: 5em;
}
.gender {
    display: inline;
    padding-right: 50px;
}
